<header>
    <div class="container">
        <div class="header-top">
            <div class="logo-icon">
                <img src="images/logo.png">
            </div>
            <form class="search-box" action="" method="get">
                <input class="search-txt" type="text" name="" placeholder="검색어를 입력하세요.">
                <button class="search-btn" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
            <div class="button-container">
                <div class="button-wrapper">
                    <i class="fa-regular fa-user fa-3x"></i>
                    <p class="description">회원가입</p>
                </div>
                <div class="button-wrapper">
                    <i class="fa-regular fa-user fa-3x"></i>
                    <i class="fa-solid fa-cart-shopping fa-3x"></i>
                    <p class="description">장바구니</p>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <i class="fa-solid fa-heart fa-2x"></i>
            <nav>
                <ul>
                    <li>필기류</li>
                    <li>지류</li>
                    <li>수납용품</li>
                    <li>사무용품</li>
                    <li>사무기기</li>
                </ul>
            </nav>
            <a href="">고객센터</a>
        </div>
    </div>
</header>
