<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>Beta</title>
        <link rel="stylesheet" href="css/style.css">
        <script src="https://kit.fontawesome.com/980adfd60f.js" crossorigin="anonymous"></script>
    </head>
    <body>
        {{>header}}
        <div class="container">
            <p>테스트</p>
        </div>
        {{>footer}}
    </body>
</html>