<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>Beta</title>
    </head>
    <body>
        {{> header}}
        <h1>Welcome to the Home Page</h1>
        {{> footer}}
        <h1>Welcome to the Home Page</h1>
    </body>
</html>